.App {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.panel {
  display: flex;
  flex-direction: row;
}

.section {
  display: flex;
  flex: 1 1;
  margin-bottom: 20px;
  flex-direction: column;
  margin-left: 20px;
}

.component {
  display: flex;
  flex: 1;
  align-items: center;
  flex-wrap: wrap;
}

.code {
  display: flex;
  flex: 1;
  margin-top: 10px;
  min-height: 180px;
  max-height: 180px;
}

.code pre {
  padding: 1em !important;
}

.App .MuiTab-wrapper {
  align-items: flex-start;
}

.App .MuiFormGroup-root {
  flex-direction: row;
}

.App .MuiAlert-root {
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 1230px) {
  .App {
    flex-direction: column;
  }

  .panel {
    flex-wrap: wrap;
  }

  .tabs {
    margin-bottom: 30px;
  }

  .MuiTabs-flexContainerVertical {
    flex-direction: row !important;
  }

  .MuiTab-root.Mui-selected {
    border-bottom: 1px solid red;
  }

  .MuiTabs-indicator {
    display: none;
  }

  .code pre {
    width: 90%;
  }
}
